:not(p) + p::first-line {
    font-variant: small-caps;
}

p::first-line {
    font-variant: small-caps;
}

h1 + p {
    text-indent: 0;
}

p::first-letter {
    font-weight: bold;
}

body {
    color: #333333;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;
    margin: 0 auto;
    width: 940px;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #003366;
}

.container {
  margin: 0 auto;
  width: 940px;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding-right: 35px;
    padding-top: 8px;
    position: absolute;
    right: 0;
    top: 0;
}
.titulo {
    background-image: url("../img/sobre-background.jpg");
    margin: 10px;
}

h2 {
    margin: 30px;
    border-bottom: 2px solid #333333;
}

section {
    padding: 0 45px;
    text-indent: 15px;
    text-align: justify;
}

figure {
    padding: 15px;
    margin: 30px;
    background-color: #f2eded;
    border: 1px solid #ccc;
    text-align: center;
}

figcaption {
    margin-top: 10px;
    font-style: italic;
}

#centro-distribuicao{
    float: center;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

footer {
   background-image: url(../img/fundo-rodape.png);
   clear: both;
   padding: 20px 0;
 }

 footer .container {
    position: relative;
 }

#logo-rodape {
     margin-left: 3%;
 }

 .social {
     position: absolute;
     top: 0;
     right: 3%;
        
 }

 .social li {
     float: left;
     margin-left: 25px;
 }

 .social a {
   /* tamanho da imagem */
   height: 32px;
   width: 32px;

   /* image replacement */
   display: block;
   text-indent: -9999px;  
 }

 .social a[href*="facebook.com"] {
   background-image: url(../img/facebook.png);
 }

 .social a[href*="twitter.com"] {
   background-image: url(../img/twitter.png);
 }

 .social a[href*="plus.google.com"] {
   background-image: url(../img/googleplus.png);
 }

@media (max-width: 939px) {
  @media (min-width: 720px) {
    header h1 {
      text-align: left;
    }

    .menu-opcoes {
      position: absolute;
    }

    .sacola {
      display: block;
    }

    .painel li {
      width: 15%;
    }

    .busca,
    .menu-departamentos {
      margin-right: 1%;
      width: 30%;
    }

    .menu-departamentos nav > ul {
      column-count: 1;
    }

    .banner-destaque img {
      width: 69%;
    }
  }
   
  @media (min-width: 480px) {
    header h1 {
      margin: 5px 0;
    }

    .menu-departamentos {
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .menu-departamentos nav > ul {
      column-count: 2;
    }
  }

  h2 {
      text-align: center;
  }
  header h1 {
      text-align: center;
  }

  section {
      font-size: 130%;
  }

  .titulo {
      text-align: center;
  }

  .painel img {
    width: 100%;
  }
  .painel li {
    width: 30%;
  }

  .painel {
    width: auto;
  }

  .busca,
  .menu-departamentos,
  .banner-destaque img {
    margin-right: 0;
    width: 100%;
  }

  .menu-opcoes ul li {
    display: inline-block;
    font-size: 130%;
  }
  .container {
    width: 96%;
  }

  .sacola {
    display: none;
  }

  .menu-opcoes {
    position: static;
    text-align: center;
  }
}